/* .customerform {
    width: 350px;
    height: 500px;
    position: relative;
    margin-left: 35%;
    background-color: pink;
}

.custheader {
    text-align:center;
    margin:30px 0;
    font-size:30px;
    color: white;
}

.custinput {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

 */

 /* body {
  background-image: url(../images/bg6.jpg);
  background-size: cover;
} */

/* body {
  background-color: rgb(133, 131, 131);
} */

 #bigbox {
    width: 1500px;
    height: 650px;
    /* border: 1px black solid; */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
  }
  
  #bigbox .box1 {
    width: 480px;
    height: 630px;
    float: left;
    background-color: #4242f7;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 25px;
  }

  #bigbox .box2 {
    width: 970px;
    height: 630px;
    float: left;
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 25px;
  }

  .logotext {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 10px;
    margin-top: 20px;
  }

  /* .logo-image {
    height: 50px;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  } */

  .catchy-text {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 150px;
    font-size: 35px;
    margin-left: 15px;
  }

  .more-text {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 40px;
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .custheader {
    color: black;
    margin-top: 20px;
    margin-left: 345px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
  }

  .custbutton {
    background-color: #4242f7;
    color: white;
    margin-top: 40px;
    margin-left: 450px;
    border: none;
    border-radius: 5px;
    width: 170px;
    height: 40px;
    opacity: 0.95;
  }

  a:link, a:visited {
    color: white;
    font-size: 25px;
  }

.form-fname, .form-lname, .form-mobile, .form-email {
    width: 550px;
    height: 30px;
    margin-bottom: 5px;
    margin-left: 250px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
    border-color: black;
    font-size: 17px;
}

.form-fname:focus, .form-lname:focus, .form-mobile:focus, .form-email:focus {
  border-color: #4242f7;
}

.fname, .lname, .num, .email {
  margin-top: 30px;
  margin-left: 250px;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.star {
  color: red;
}

.navigation-bar {
  width: 100%;
  height: 80px;
  background-color: #333; 
  margin: 0;
  padding: 0;
}

.logo-img {
  display: inline-block;
  vertical-align: top;
  /* width: 70px; */
  height: 80px;
  margin-right: 20px;
}
.navigation-bar a {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  height: 80px;        
  line-height: 80px;
  text-decoration: none;
}

/* .navigation-bar img:hover:not(.active) {
  background-color: #111;
} */

.navigation-bar a:hover:not(.active) {
  background-color: #111;
}