/* .pretty-box {
    width: 100px;
    height: 440px;
    margin-top: 10%;
    background-color: pink;
    text-align: center;
    
} */

.customerform {
    width: 350px;
    height: 500px;
    position: relative;
    margin-left: 35%;
    background-color: pink;
}

.custheader {
    text-align:center;
    margin:30px 0;
    font-size:30px;
    color: white;
}

.custinput {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



