{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}

    {%comment%} Checks if user is logged in  {%endcomment%}
    {% if user.is_authenticated %}
      <style>
      .container {
        display: flex;
        justify-content: center;
      }
      .horizontal-list {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
        text-align:center;
      }

      .horizontal-list li {
        margin-left: 20px;
        margin-right: 10px;
        
      }

      .tbl-container {
        width: 3000px;
        margin-left: auto;
        margin-right: auto;
      }
      .bdr {
        border-radius: 8px;
        overflow: hidden;
      }
      .bt1 {
        margin-top: 10px;
      }
      .h {
        padding: 20px;
        text-align: center;
      }
      .pagination {
        justify-content: center;
        margin-top: 20px;
      }
      .pagination li {
        display: inline-block;
        margin: 0 5px;
      }
      .pagination a {
        color: #333;
        text-decoration: none;
        padding: 8px 12px;
        border: 1px solid #ddd;
        border-radius: 4px;
      }
      .pagination a.active {
        background-color: #007bff;
        color: #fff;
      }

      </style>
      
      <h3 class="h">
        Hi {{ user.username }}, Welcome To Your Appointments Dashboard
      </h3>
      <div class="container">

      <div class="tbl-container bdr">
        <form method="post" id="hiddenForm">
          {% csrf_token %}
          <input type="number" name="app_id" id="app_id" hidden>
          <input type="text" name="app_stat" id="app_stat" hidden>
        </form>

        <form method="get" id="hiddenForm2">
          <input type="number" name="page_id" id="page_id" hidden>
          
        </form>
        <table class="table table-striped" style="width:3000px">

          <thead class="thead-dark">
            <tr>
              <th scope="col">Customer</th>
              <th scope="col">Appointment Day</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Time</th>
              <th scope="col">Preferred Contact</th>
              <th scope="col">Agent</th>
              <th scope="col">Status</th>
              <th scope="col" width="1000px">Actions</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="container">
        <ul class="horizontal-list">
          <!-- <p>&larr;</p> -->
          <p>&laquo;</p>
          {% for page_num in number %}
            <li  ><a href="#" onclick="SubmitForm({{ page_num }})">{{ page_num }}</a></li >
          {% endfor %}
          <p>&raquo;</p>
        </ul>
      </div>
      </div>
    </div>

    <script>
      function SubmitForm(page){
        document.getElementById("page_id").value=page
        document.getElementById("hiddenForm2").submit();
      }
      function buttonSubmit(formId, appId, opt) {
        var oForm = document.getElementById(formId);
        document.getElementById("app_stat").value = opt;
        document.getElementById("app_id").value = appId;
        oForm.submit();
      }
      function testJS() {
        var appId = document.getElementById("ap").value;
        localStorage.setItem('appointment_id', appId);
        console.log("---------------------------------------");
        console.log(appId);
        console.log("---------------------------------------");
      }
      function fetchAppointments(page) {
        const paginationLinks = document.querySelectorAll('.pagination a');
        paginationLinks.forEach(link => {
          link.classList.remove('active');
        });
        fetch('http://127.0.0.1:8000/appointment?page=' + page)
          .then(res => res.json())
          .then(data => {
            data.forEach(appointment => {
              const markup = `
                <tr>
                  <td>${appointment.customer}</td>
                  <td>${appointment.day}</td>
                  <td>${appointment.email}</td>
                  <td>${appointment.mobile}</td>
                  <td>${appointment.time}</td>
                  <td>${appointment.preferred_contact_method}</td>
                  <td>${appointment.agent}</td>
                  <td>${appointment.status}</td>
                  <td>
                    <button onclick="buttonSubmit('hiddenForm', ${appointment.id}, 'Completed')" type="button" class="btn btn-success" style="height:40px;width:185px" >Appointment Complete</button>
                    <a href="users/delete_appointment">
                      <button id = "ap" value="${appointment.id}" onclick="testJS()" type="submit" class="btn btn-danger bt1 ${appointment.status}" style="height:40px;width:185px" >
                        Cancel Appointment </button>
                    </a>
                  </td>
                </tr>
              `;
              document.querySelector('tbody').insertAdjacentHTML('beforeend', markup);
            });

            let ls = document.getElementsByClassName("Cancelled");
            console.log(ls);
            console.log(ls.length);
            console.log(document.getElementsByClassName("Cancelled").length);
            for (let i = 0; i < ls.length; i++) {
              ls[i].style.display = "none";
            }
          })
          .catch(error => console.log(error));
      }
      fetchAppointments({{ thepage }});

    </script>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">login</a>
  {% endif %}
{% endblock %}
