{% extends 'base.html' %}

{% block title %}Update Appointment{% endblock %}

{% block content %}
  <h2>Here:</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }} 
    
    <p>Please state the reason for cancellation:</p>
    <input type="text" name="reason_for_cancel" id="reason_for_cancel" required>

    <p>Enter the subject for the email:</p>
    <input type="text" name="subject" id="subject" required>
    
    <p>Enter the message:</p>
    <input type="text" name="message" id="message" required>

    <button type="submit">Submit</button>
    <a href="/"><button type="button"> Cancel </button></a>
  </form>
{% endblock %}