<!-- Register -->
<div class="container py-5">
    <h1>Customer Details</h1>
    <form method="POST">
        {% csrf_token %}

        {% for field in form %}
            {% if field.name == 'organization' %}
                <div class="mb-4" style="display: none;">
                    {{ field }}
                </div>
            {% elif field.name == 'username' %}
                <div class="mb-4" style="display: none;">
                    <input type="text" name="username" value="{{ form.first_name.value }}" />
                </div>
            {% else %}
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
                        {{ field.label }}
                    </label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}

        <button class="btn btn-primary" type="submit"><a href="#">Next</a></button>
    </form>
</div>
