@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(168, 201, 240);
}

.container{
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container header{
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  text-align: center;
}

.container .form{
  margin-top: 30px;
}

.form .input-box, .form .select-box{
  width: 100%;
  margin-top: 30px;
  
}

.input-box label, .select-box label{
  color: #333;
}

.form :where(.input-box input, .select-box select){
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border-radius: 6px;
  padding: 0 15px;

}

.form .column{
  display: flex;
  column-gap: 15px;  
}

.select-box select{
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.address :where(input, .select-box){
  margin-top: 20px;
}

.form button{
  height: 55px;
  width: 100%;
  color: #fff;  
  font-size: 1rem;
  border: none;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 400;
  transition: all 0.2s ease;
  background-color: rgb(78, 151, 240);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}

.form button:hover{
  background-color: rgb(44, 85, 234);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Responsive */
@media screen and (max-width: 500px){
  .form .column{
    flex-wrap: wrap;
  }
}