{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/appt.css' %}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

    <!--Appointment Section-->
    <body>
       <section class="container">
        <header>Registration Form</header>
        <form class="form">
          <div class="input-box">
            <label>Full Name</label>
            <input type="text" placeholder="Please enter full name">
          </div>

          <div class="input-box">
            <label>Full Name</label>
            <input type="text" placeholder="Please enter full name">
          </div>

          <div class="column">
            <div class="input-box">
              <label>Full Name</label>
              <input type="text" placeholder="Please enter full name">
            </div>
            <div class="input-box">
              <label>Full Name</label>
              <input type="text" placeholder="Please enter full name">
            </div>
          </div>

          <div class="input-box address">
            <label>Address</label>
            <input type="text" placeholder="Please enter full name">
            <div class="column">
              <div class="select-box">
                <select>
                  <option>A</option>
                  <option>B</option>
                  <option>C</option>
                </select>
              </div>
            </div>
          </div>

          <button>Submit</button>
        </form>
       </section>
      </body>
</body>

{% endblock content %}